    <div class="ccms_form_element cfdiv_custom" id="label_container_div" style=""><h2>Car Owner Enquiry Form</h2><div class="clear"></div><div id="error-message-label"></div></div><div class="ccms_form_element cfdiv_radio" id="make_a_key1_container_div" style=""><label>I wish to make a key</label><input type="hidden" name="make_a_key" value="" alt="ghost" />
        <div style="float:left; clear:none;"><input type="radio" name="make_a_key" id="make_a_key_0" title="" value="I have a key that can start the car" class="" />
            <label for="make_a_key_0">I have a key that can start the car</label>
            <input type="radio" name="make_a_key" id="make_a_key_1" title="" value="I lost all my keys" class="" />
            <label for="make_a_key_1">I lost all my keys</label>
            <input type="radio" name="make_a_key" id="make_a_key_2" title="" value="I have a key but it cannot start the car" class="" />
            <label for="make_a_key_2">I have a key but it cannot start the car</label>
        </div><div class="clear"></div><div id="error-message-make_a_key"></div></div><div class="ccms_form_element cfdiv_custom" id="label_container_div" style=""><label for="label">I wish to make a remote</label><div class="clear"></div><div id="error-message-label"></div></div><div class="ccms_form_element cfdiv_radio" id="have_a_remote1_container_div" style=""><input type="hidden" name="have_a_remote" value="" alt="ghost" />
        <div style="float:left; clear:none;"><input type="radio" name="have_a_remote" id="have_a_remote_0" title="" value="I have a working remote, brand as follow:" class="" />
            <label for="have_a_remote_0">I have a working remote, brand as follow:</label>

            <div class="ccms_form_element cfdiv_radio" id="brands1_container_div" style="">
                <input type="hidden" name="brands" value="" alt="ghost" />
                <div style="float:left; clear:none;"><input type="radio" name="brands" id="brands_0" title="" value="Silicon" class="" />
                    <label for="brands_0">Silicon</label>
                    <input type="radio" name="brands" id="brands_1" title="" value="VAV" class="" />
                    <label for="brands_1">VAV</label>
                    <input type="radio" name="brands" id="brands_2" title="" value="KIA" class="" />
                    <label for="brands_2">KIA</label>
                    <input type="radio" name="brands" id="brands_3" title="" value="Wheels" class="" />
                    <label for="brands_3">Wheels</label>
                    <input type="radio" name="brands" id="brands_4" title="" value="Hyundai" class="" />
                    <label for="brands_4">Hyundai</label>
                    <input type="radio" name="brands" id="brands_6" title="" value="Others" class="" />
                    <label for="brands_6">Others (Please Specify)</label>

                    <div class="ccms_form_element cfdiv_text" id="others_container_div" >
                        <input id="others" class=" " title="" type="text" name="input_text_6"  style="display:none; margin-left: 30px;"/>
                        <div class="clear"></div><div id="error-message-input_text_6"></div>
                    </div>

                    <input type="radio" name="brands" id="brands_5" title="" value="If You do not know the brand, please upload a photo" class="" />
                    <label for="brands_5">If You do not know the brand, please upload a photo</label>

                    <div class="ccms_form_element cfdiv_file" id="browse_container_div" style="">
                        <input id="browse" class="" title="" type="file" name="input_file_6" />
                        <div class="clear"></div><div id="error-message-input_file_6"></div>
                    </div>

                </div><div class="clear"></div><div id="error-message-brands"></div>
            </div>

            <input type="radio" name="have_a_remote" id="have_a_remote_1" title="" value="I do not have any working remotes" class="" />




            <label for="have_a_remote_1">I do not have any working remotes</label>
        </div><div class="clear"></div><div id="error-message-have_a_remote"></div></div>



    <div class="ccms_form_element cfdiv_radio" id="input_radio_101_container_div" style=""><label>I wish to install a car alarm </label><input type="hidden" name="input_radio_10" value="" alt="ghost" />
        <div style="float:left; clear:none;"><input type="radio" name="input_radio_10" id="input_radio_10_0" title="" value="There is an existing alarm in my car" class="" />
            <label for="input_radio_10_0">There is an existing alarm in my car</label>
            <input type="radio" name="input_radio_10" id="input_radio_10_1" title="" value="There is no alarm in my car" class="" />
            <label for="input_radio_10_1">There is no alarm in my car</label>
        </div><div class="clear"></div><div id="error-message-input_radio_10"></div></div><div class="ccms_form_element cfdiv_file" id="input_file_111_container_div" style=""><label>I wish to convert my key to flip type (Please upload a photo of your key)</label><br><br><input type="hidden" name="input_file_11" value="" alt="ghost" />
        <input class="validate['required']" id="browse2" title="" type="file" name="input_file_11" />
        <div class="clear"></div><div id="error-message-input_file_11"></div></div><div class="ccms_form_element cfdiv_checkbox" id="input_checkbox_121_container_div" style=""><input type="hidden" name="input_checkbox_12" value="" alt="ghost" />
        <input value="1" title="" type="checkbox" name="input_checkbox_12" id="input_checkbox_12" class="label_left" />
        <label for="input_checkbox_12">Please quote me your best price</label><div class="clear"></div><div id="error-message-input_checkbox_12"></div></div><div class="ccms_form_element cfdiv_textarea" id="input_textarea_131_container_div" style=""><label>I have other enquiry:</label><textarea cols="45" rows="12" class="" title="" name="input_textarea_13"></textarea>
        <div class="clear"></div><div id="error-message-input_textarea_13"></div></div><div class="ccms_form_element cfdiv_text" id="input_text_141_container_div" style=""><label>Car Model <span style='color:red'> *</span>(eg. Lexus GS300):</label><input maxlength="150" size="30" class=" validate['required']" title="" type="text" value="" name="input_text_14" />
        <div class="clear"></div><div id="error-message-input_text_14"></div></div><div class="ccms_form_element cfdiv_text" id="input_text_151_container_div" style=""><label>Chassis Number <a href="http://soxxi.com/images/venhicle_details.jpg" target="_blank" title="faq">(?)</a>: <span style='color:red'>*</span> </label><input maxlength="150" size="30" class=" validate['required']" title="" type="text" value="" name="input_text_15" />
        <div class="small-message">You may provide car number instead if it's a Singapore car.</div><div class="clear"></div><div id="error-message-input_text_15"></div></div><div class="ccms_form_element cfdiv_text" id="input_text_251_container_div" style=""><label>Year of Manufacture:</label><input maxlength="150" size="30" class=" validate['number']" title="" type="text" value="" name="input_text_25" />
        <div class="clear"></div><div id="error-message-input_text_25"></div></div><div class="ccms_form_element cfdiv_text" id="input_text_171_container_div" style=""><label>Contact Name: <span style='color:red'>*</span> </label><input maxlength="150" size="30" class=" validate['required']" title="" type="text" value="" name="input_text_17" />
        <div class="clear"></div><div id="error-message-input_text_17"></div></div><div class="ccms_form_element cfdiv_select" id="input_select_181_container_div" style=""><label>Country (car location): <span style='color:red'>*</span> </label><select size="1" class="" title="" name="input_select_18">
        <option value="">Select Country</option>
        <option value="Afghanistan">Afghanistan</option>
        <option value="Albania">Albania</option>
        <option value="Algeria">Algeria</option>
        <option value="American Samoa">American Samoa</option>
        <option value="Andorra">Andorra</option>
        <option value="Angola">Angola</option>
        <option value="Anguilla">Anguilla</option>
        <option value="Antarctica">Antarctica</option>
        <option value="Antigua and Barbuda">Antigua and Barbuda</option>
        <option value="Argentina">Argentina</option>
        <option value="Armenia">Armenia</option>
        <option value="Aruba">Aruba</option>
        <option value="Australia">Australia</option>
        <option value="Austria">Austria</option>
        <option value="Azerbaijan">Azerbaijan</option>
        <option value="Bahamas">Bahamas</option>
        <option value="Bahrain">Bahrain</option>
        <option value="Bangladesh">Bangladesh</option>
        <option value="Barbados">Barbados</option>
        <option value="Belarus">Belarus</option>
        <option value="Belgium">Belgium</option>
        <option value="Belize">Belize</option>
        <option value="Benin">Benin</option>
        <option value="Bermuda">Bermuda</option>
        <option value="Bhutan">Bhutan</option>
        <option value="Bolivia">Bolivia</option>
        <option value="Bosnia and Herzegovina">Bosnia and Herzegovina</option>
        <option value="Botswana">Botswana</option>
        <option value="Bouvet Island">Bouvet Island</option>
        <option value="Brazil">Brazil</option>
        <option value="British Indian Ocean Territory">British Indian Ocean Territory</option>
        <option value="Brunei Darussalam">Brunei Darussalam</option>
        <option value="Bulgaria">Bulgaria</option>
        <option value="Burkina Faso">Burkina Faso</option>
        <option value="Burundi">Burundi</option>
        <option value="Cambodia">Cambodia</option>
        <option value="Cameroon">Cameroon</option>
        <option value="Canada">Canada</option>
        <option value="Cape Verde">Cape Verde</option>
        <option value="Cayman Islands">Cayman Islands</option>
        <option value="Central African Republic">Central African Republic</option>
        <option value="Chad">Chad</option>
        <option value="Chile">Chile</option>
        <option value="China">China</option>
        <option value="Christmas Island">Christmas Island</option>
        <option value="Cocos (Keeling) Islands">Cocos (Keeling) Islands</option>
        <option value="Colombia">Colombia</option>
        <option value="Comoros">Comoros</option>
        <option value="Congo">Congo</option>
        <option value="Cook Islands">Cook Islands</option>
        <option value="Costa Rica">Costa Rica</option>
        <option value="Cote D'ivoire">Cote D'ivoire</option>
        <option value="Croatia">Croatia</option>
        <option value="Cuba">Cuba</option>
        <option value="Cyprus">Cyprus</option>
        <option value="Czech Republic">Czech Republic</option>
        <option value="Denmark">Denmark</option>
        <option value="Djibouti">Djibouti</option>
        <option value="Dominica">Dominica</option>
        <option value="Dominican Republic">Dominican Republic</option>
        <option value="Ecuador">Ecuador</option>
        <option value="Egypt">Egypt</option>
        <option value="El Salvador">El Salvador</option>
        <option value="Equatorial Guinea">Equatorial Guinea</option>
        <option value="Eritrea">Eritrea</option>
        <option value="Estonia">Estonia</option>
        <option value="Ethiopia">Ethiopia</option>
        <option value="Falkland Islands (Malvinas)">Falkland Islands (Malvinas)</option>
        <option value="Faroe Islands">Faroe Islands</option>
        <option value="Fiji">Fiji</option>
        <option value="Finland">Finland</option>
        <option value="France">France</option>
        <option value="French Guiana">French Guiana</option>
        <option value="French Polynesia">French Polynesia</option>
        <option value="French Southern Territories">French Southern Territories</option>
        <option value="Gabon">Gabon</option>
        <option value="Gambia">Gambia</option>
        <option value="Georgia">Georgia</option>
        <option value="Germany">Germany</option>
        <option value="Ghana">Ghana</option>
        <option value="Gibraltar">Gibraltar</option>
        <option value="Greece">Greece</option>
        <option value="Greenland">Greenland</option>
        <option value="Grenada">Grenada</option>
        <option value="Guadeloupe">Guadeloupe</option>
        <option value="Guam">Guam</option>
        <option value="Guatemala">Guatemala</option>
        <option value="Guinea">Guinea</option>
        <option value="Guinea-bissau">Guinea-bissau</option>
        <option value="Guyana">Guyana</option>
        <option value="Haiti">Haiti</option>
        <option value="Heard Island and Mcdonald Islands">Heard Island and Mcdonald Islands</option>
        <option value="Holy See (Vatican City State)">Holy See (Vatican City State)</option>
        <option value="Honduras">Honduras</option>
        <option value="Hong Kong">Hong Kong</option>
        <option value="Hungary">Hungary</option>
        <option value="Iceland">Iceland</option>
        <option value="India">India</option>
        <option value="Indonesia">Indonesia</option>
        <option value="Iran">Iran</option>
        <option value="Iraq">Iraq</option>
        <option value="Ireland">Ireland</option>
        <option value="Israel">Israel</option>
        <option value="Italy">Italy</option>
        <option value="Jamaica">Jamaica</option>
        <option value="Japan">Japan</option>
        <option value="Jordan">Jordan</option>
        <option value="Kazakhstan">Kazakhstan</option>
        <option value="Kenya">Kenya</option>
        <option value="Kiribati">Kiribati</option>
        <option value="Korea">Korea</option>
        <option value="Kuwait">Kuwait</option>
        <option value="Kyrgyzstan">Kyrgyzstan</option>
        <option value="Latvia">Latvia</option>
        <option value="Lebanon">Lebanon</option>
        <option value="Lesotho">Lesotho</option>
        <option value="Liberia">Liberia</option>
        <option value="Libyan Arab Jamahiriya">Libyan Arab Jamahiriya</option>
        <option value="Liechtenstein">Liechtenstein</option>
        <option value="Lithuania">Lithuania</option>
        <option value="Luxembourg">Luxembourg</option>
        <option value="Macao">Macao</option>
        <option value="Macedonia">Macedonia</option>
        <option value="Madagascar">Madagascar</option>
        <option value="Malawi">Malawi</option>
        <option value="Malaysia">Malaysia</option>
        <option value="Maldives">Maldives</option>
        <option value="Mali">Mali</option>
        <option value="Malta">Malta</option>
        <option value="Marshall Islands">Marshall Islands</option>
        <option value="Martinique">Martinique</option>
        <option value="Mauritania">Mauritania</option>
        <option value="Mauritius">Mauritius</option>
        <option value="Mayotte">Mayotte</option>
        <option value="Mexico">Mexico</option>
        <option value="Micronesia">Micronesia</option>
        <option value="Moldova">Moldova</option>
        <option value="Monaco">Monaco</option>
        <option value="Mongolia">Mongolia</option>
        <option value="Montserrat">Montserrat</option>
        <option value="Morocco">Morocco</option>
        <option value="Mozambique">Mozambique</option>
        <option value="Myanmar">Myanmar</option>
        <option value="Namibia">Namibia</option>
        <option value="Nauru">Nauru</option>
        <option value="Nepal">Nepal</option>
        <option value="Netherlands">Netherlands</option>
        <option value="Netherlands Antilles">Netherlands Antilles</option>
        <option value="New Caledonia">New Caledonia</option>
        <option value="New Zealand">New Zealand</option>
        <option value="Nicaragua">Nicaragua</option>
        <option value="Niger">Niger</option>
        <option value="Nigeria">Nigeria</option>
        <option value="Niue">Niue</option>
        <option value="Norfolk Island">Norfolk Island</option>
        <option value="Northern Mariana Islands">Northern Mariana Islands</option>
        <option value="Norway">Norway</option>
        <option value="Oman">Oman</option>
        <option value="Pakistan">Pakistan</option>
        <option value="Palau">Palau</option>
        <option value="Palestinian Territory, Occupied">Palestinian Territory, Occupied</option>
        <option value="Panama">Panama</option>
        <option value="Papua New Guinea">Papua New Guinea</option>
        <option value="Paraguay">Paraguay</option>
        <option value="Peru">Peru</option>
        <option value="Philippines">Philippines</option>
        <option value="Pitcairn">Pitcairn</option>
        <option value="Poland">Poland</option>
        <option value="Portugal">Portugal</option>
        <option value="Puerto Rico">Puerto Rico</option>
        <option value="Qatar">Qatar</option>
        <option value="Reunion">Reunion</option>
        <option value="Romania">Romania</option>
        <option value="Russian Federation">Russian Federation</option>
        <option value="Rwanda">Rwanda</option>
        <option value="Saint Helena">Saint Helena</option>
        <option value="Saint Kitts and Nevis">Saint Kitts and Nevis</option>
        <option value="Saint Lucia">Saint Lucia</option>
        <option value="Saint Pierre and Miquelon">Saint Pierre and Miquelon</option>
        <option value="Saint Vincent and The Grenadines">Saint Vincent and The Grenadines</option>
        <option value="Samoa">Samoa</option>
        <option value="San Marino">San Marino</option>
        <option value="Sao Tome and Principe">Sao Tome and Principe</option>
        <option value="Saudi Arabia">Saudi Arabia</option>
        <option value="Senegal">Senegal</option>
        <option value="Serbia and Montenegro">Serbia and Montenegro</option>
        <option value="Seychelles">Seychelles</option>
        <option value="Sierra Leone">Sierra Leone</option>
        <option value="Singapore">Singapore</option>
        <option value="Slovakia">Slovakia</option>
        <option value="Slovenia">Slovenia</option>
        <option value="Solomon Islands">Solomon Islands</option>
        <option value="Somalia">Somalia</option>
        <option value="South Africa">South Africa</option>
        <option value="South Georgia and The South Sandwich Islands">South Georgia and The South Sandwich Islands</option>
        <option value="Spain">Spain</option>
        <option value="Sri Lanka">Sri Lanka</option>
        <option value="Sudan">Sudan</option>
        <option value="Suriname">Suriname</option>
        <option value="Svalbard and Jan Mayen">Svalbard and Jan Mayen</option>
        <option value="Swaziland">Swaziland</option>
        <option value="Sweden">Sweden</option>
        <option value="Switzerland">Switzerland</option>
        <option value="Syrian Arab Republic">Syrian Arab Republic</option>
        <option value="Taiwan, Province of China">Taiwan, Province of China</option>
        <option value="Tajikistan">Tajikistan</option>
        <option value="Tanzania">Tanzania</option>
        <option value="Thailand">Thailand</option>
        <option value="Timor-leste">Timor-leste</option>
        <option value="Togo">Togo</option>
        <option value="Tokelau">Tokelau</option>
        <option value="Tonga">Tonga</option>
        <option value="Trinidad and Tobago">Trinidad and Tobago</option>
        <option value="Tunisia">Tunisia</option>
        <option value="Turkey">Turkey</option>
        <option value="Turkmenistan">Turkmenistan</option>
        <option value="Turks and Caicos Islands">Turks and Caicos Islands</option>
        <option value="Tuvalu">Tuvalu</option>
        <option value="Uganda">Uganda</option>
        <option value="Ukraine">Ukraine</option>
        <option value="United Arab Emirates">United Arab Emirates</option>
        <option value="United Kingdom">United Kingdom</option>
        <option value="United States">United States</option>
        <option value="United States Minor Outlying Islands">United States Minor Outlying Islands</option>
        <option value="Uruguay">Uruguay</option>
        <option value="Uzbekistan">Uzbekistan</option>
        <option value="Vanuatu">Vanuatu</option>
        <option value="Venezuela">Venezuela</option>
        <option value="Viet Nam">Viet Nam</option>
        <option value="Virgin Islands, British">Virgin Islands, British</option>
        <option value="Virgin Islands, U.S.">Virgin Islands, U.S.</option>
        <option value="Wallis and Futuna">Wallis and Futuna</option>
        <option value="Western Sahara">Western Sahara</option>
        <option value="Yemen">Yemen</option>
        <option value="Zambia">Zambia</option>
        <option value="Zimbabwe">Zimbabwe</option>
    </select>











    <div class="clear"></div><div id="error-message-input_select_18"></div></div><div class="ccms_form_element cfdiv_text" id="input_text_191_container_div" style=""><label>Tel/Mobile: <span style='color:red'>*</span> </label><input maxlength="150" size="30" class=" validate['required']" title="" type="text" value="" name="input_text_19" />
        <div class="clear"></div><div id="error-message-input_text_19"></div></div><div class="ccms_form_element cfdiv_text" id="input_text_201_container_div" style=""><label>Email: <span style='color:red'>*</span> </label><input maxlength="150" size="30" class=" validate['required','email']" title="" type="text" value="" name="input_text_20" />
        <div class="clear"></div><div id="error-message-input_text_20"></div></div><div class="ccms_form_element cfdiv_text" id="input_text_211_container_div" style=""><label>Skype:</label><input maxlength="150" size="30" class="" title="" type="text" value="" name="input_text_21" />
        <div class="clear"></div><div id="error-message-input_text_21"></div></div><div class="ccms_form_element cfdiv_text" id="input_text_221_container_div" style=""><label>Wechat id:</label><input maxlength="150" size="30" class="" title="" type="text" value="" name="input_text_22" />
        <div class="clear"></div><div id="error-message-input_text_22"></div></div><div class="ccms_form_element cfdiv_submit" id="input_submit_231_container_div" style="text-align:left"><input name="input_submit_23" class="" value="Submit" type="submit" />
        <div class="clear"></div><div id="error-message-input_submit_23"></div></div><div class="ccms_form_element cfdiv_custom" id="input_id_29_container_div" style="">You may not get a reply if you do not provide sufficient information<br>Reply may not be immediate, if your enquiry is very urgent please call +65 66651605 for assistant.
        <script language="javascript" type="text/javascript">
            var $j = jQuery.noConflict();
            $j(document).ready(function(){

                $j("#browse").hide();
                $j("#brands1_container_div").hide();

                $j("#brands_5").click(function(){
                    $j("#browse").show();
                    $j("#others").hide();
                    $j("#others").val('');
                });
                $j("#brands_0").click(function(){
                    $j("#others").hide();
                    $j("#browse").hide();
                    $j("#others").val('');
                    $j("#browse").val('');
                });
                $j("#brands_1").click(function(){
                    $j("#others").hide();
                    $j("#browse").hide();
                    $j("#others").val('');
                    $j("#browse").val('');
                });
                $j("#brands_2").click(function(){
                    $j("#others").hide();
                    $j("#browse").hide();
                    $j("#others").val('');
                    $j("#browse").val('');
                });
                $j("#brands_3").click(function(){
                    $j("#others").hide();
                    $j("#browse").hide();
                    $j("#others").val('');
                    $j("#browse").val('');
                });
                $j("#brands_4").click(function(){
                    $j("#others").hide();
                    $j("#browse").hide();
                    $j("#others").val('');
                    $j("#browse").val('');
                });
                $j("#brands_6").click(function(){
                    $j("#others").show();
                    $j("#browse").hide();
                    $j("#browse").val('');
                });

                $j("#have_a_remote_1").click(function(){
                    $j("#brands1_container_div").hide();

                    $j("#browse").hide();
                    $j("#others").hide();
                    $j("#others").val('');
                    $j("#browse").val('');

                    $j("#brands_0").prop('checked', false);
                    $j("#brands_1").prop('checked', false);
                    $j("#brands_2").prop('checked', false);
                    $j("#brands_3").prop('checked', false);
                    $j("#brands_4").prop('checked', false);
                    $j("#brands_5").prop('checked', false);
                    $j("#brands_6").prop('checked', false);
                });

                $j("#have_a_remote_0").click(function(){
                    $j("#brands1_container_div").show();
                });

                $j('#browse').change(function(){
                    var f=this.files[0];
                    if(f.size >= 30720){
                        alert("File size must be less than 30 kb. ");
                        $j('#browse').val('');
                    }
                })
                $j('#browse2').change(function(){
                    var f=this.files[0];
                    if(f.size >= 30720){
                        alert("File size must be less than 30 kb. ");
                        $j('#browse2').val('');
                    }
                })
            });

        </script><div class="clear"></div><div id="error-message-input_custom_29"></div></div><div class="ccms_form_element cfdiv_empty" id="empty_container_div" style=""><div class="clear"></div><div id="error-message-empty"></div></div>