<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="sp_common.css?v=1377455958498" />
    <script type="text/javascript" src="jquery-1.7.1.min.js?v=1377455958498"></script>
    <script language="javascript" src="sp-luxa-deal.js"></script>
</head>
<body>
<div id="jsiDealPhoto">

    <div id="jsiMainPhotoBox" class="mt5 mb5 tac">
        <ul id="jsiSlideshowBox">




            <li class="wf h175"><img orgSrc="1.jpg?v=1377455958498" width="298" height="175" class="jscDealPhoto dn" /></li>






            <li class="wf h175"><img orgSrc="2.jpg?v=1377455958498" width="298" height="175" class="jscDealPhoto dn" /></li>






            <li class="wf h175"><img orgSrc="3.jpg?v=1377455958498" width="298" height="175" class="jscDealPhoto dn" /></li>






            <li class="wf h175"><img orgSrc="4.jpg?v=1377455958498" width="298" height="175" class="jscDealPhoto dn" /></li>






            <li class="wf h175"><img orgSrc="1.jpg?v=1377455958498" width="298" height="175" class="jscDealPhoto dn" /></li>



        </ul>
    </div>


    <div class="cf cb">
        <ol class="pr left50per fl">
            <li class="pr leftM50per fl mr20"><a href="javascript:void(0);" id="jsiDealPhotoPrev" class="icon iconGray iconLeft"></a></li>

            <li class="pr leftM50per fl mr5 mt4"><div class="jscPhotoPosition photoPositionY"></div></li>

            <li class="pr leftM50per fl mr5 mt4"><div class="jscPhotoPosition photoPositionN"></div></li>

            <li class="pr leftM50per fl mr5 mt4"><div class="jscPhotoPosition photoPositionN"></div></li>

            <li class="pr leftM50per fl mr5 mt4"><div class="jscPhotoPosition photoPositionN"></div></li>

            <li class="pr leftM50per fl mr5 mt4"><div class="jscPhotoPosition photoPositionN"></div></li>

            <li class="pr leftM50per fl ml20"><a href="javascript:void(0);" id="jsiDealPhotoNext"  class="icon iconGray iconRight"></a></li>
        </ol>
    </div>


</div>

</body>
</html>