<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>BAY AREA DEBATE CLUB</title>
<link href="style.css" rel="stylesheet" type="text/css" />
<link href="css/slide.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="main_container">
<!-- _________________________header Section_________________________ -->
	<div class="header_container">
        <div class="header">
            <div class="logo"><a id="logo" href="index.html" title="Bay Area Debate Club"><h1>Bay Area Debate Club</h1></a></div>
            <div class="header_right">
                <div id="call_us">Call us on +510-573-2497</div>
                <div id="fb_like_us"><a href="#">Like us on Facebook</a></div>
            </div>
        </div>
        <div class="navigation">
            <ul id="menu">
                <li><a href="index.html">Home</a></li>
                <li class="drop_menu"><a href="#" title="Programs for Children">Programs for Children</a>
                	<ul id="sub_menu">
                    	<li><a href="#" title="Programs">Programs</a></li>
                        <li><a href="#" title="Curriculum">Curriculum</a></li>
                        <li><a href="#" title="Registration">Registration</a></li>
                        <li><a href="#" title="Cancellation">Cancellation</a></li>
                        <li><a href="#" title="Start classes in my school">Start classes in my school</a></li>
                    </ul>
                </li>
                <li><a href="#" title="Programs for Adults">Programs for Adults</a></li>
                <li class="drop_menu"><a href="#" title="Tournaments">Tournaments</a>
                	<ul id="sub_menu">
                    	<li><a href="#" title="Tournaments">Tournaments</a></li>
                        <li><a href="calendar.html" title="Calendar">Calendar</a></li>
                        <li><a href="#" title="DEBT Ranking">DEBT Ranking</a></li>
                        <li><a href="#" title="Host a Tournament">Host a Tournament</a></li>
                    </ul>
                </li>
                <li><a href="#" title="Summer Camps">Summer Camps</a></li>
                <li class="drop_menu"><a href="about_us.html" title="About Us">About Us</a>
                	<ul id="sub_menu">
                    	<li><a href="#" title="Who We Are">Who We Are</a></li>
                        <li><a href="#" title="Our Staff">Our Staff</a></li>
                        <li><a href="#" title="Testimonials">Testimonials</a></li>
                        <li><a href="#" title="Press Room">Press Room</a></li>
                        <li><a href="#" title="Picture Gallery">Picture Gallery</a></li>
                        <li><a href="#" title="FAQ">FAQ</a></li>
                        <li><a href="#" title="Contact Us">Contact Us</a></li>
                        <li><a href="#" title="Join Us">Join Us</a></li>
                        <li><a href="#" title="Franchise Opportunity">Franchise Opportunity</a></li>
                    </ul>
                </li>
                <li><a href="#" title="Login">Login</a></li>
            </ul>
        </div>
    </div>
<!-- end header Section -->

<!-- _________________________main_wrapper Section_________________________ -->    
    <div class="main_wrapper" id="mid_wrapper">
    	<div class="full_width_page">
        	<div id="page_title">
            	<h1>Picture <span style="color:#ab281f;">Gallery</span></h1>
            </div>
            <div id="page_content">
            	<div class="left_sidebar">
                	<div id="picture_gallery">
                    	<h2>Picture Album</h2>
                        <ul>
                        	<li><a href="#">Album Name One</a></li>
                            <li><a href="#">Album Name Two</a></li>
                            <li><a href="#">Album Name Three</a></li>
                            <li><a href="#">Album Name Four</a></li>
                            <li><a href="#">Album Name Five</a></li>
                            <li><a href="#">Album Name Six</a></li>
                        </ul>
                    </div>
                </div><!-- left_sidebar -->
                <div class="right_content">
                	<div id="gallery">
               			<ul>
                    		<li><a class="fancybox" href="images/picture_gallery1.jpg" data-fancybox-group="gallery" title=""><img src="images/picture_gallery1.jpg" /></a></li>
                            <li><a class="fancybox" href="images/picture_gallery2.jpg" data-fancybox-group="gallery" title=""><img src="images/picture_gallery2.jpg" /></a></li>
                            <li><a class="fancybox" href="images/picture_gallery3.jpg" data-fancybox-group="gallery" title=""><img src="images/picture_gallery3.jpg" /></a></li>
                            <li><a class="fancybox" href="images/picture_gallery4.jpg" data-fancybox-group="gallery" title=""><img src="images/picture_gallery4.jpg" /></a></li>
                            <li><a class="fancybox" href="images/picture_gallery5.jpg" data-fancybox-group="gallery" title=""><img src="images/picture_gallery5.jpg" /></a></li>
                            <li><a class="fancybox" href="images/picture_gallery6.jpg" data-fancybox-group="gallery" title=""><img src="images/picture_gallery6.jpg" /></a></li>
                            <li><a class="fancybox" href="images/picture_gallery7.jpg" data-fancybox-group="gallery" title=""><img src="images/picture_gallery7.jpg" /></a></li>
                            <li><a class="fancybox" href="images/picture_gallery8.jpg" data-fancybox-group="gallery" title=""><img src="images/picture_gallery8.jpg" /></a></li>
                            <li><a class="fancybox" href="images/picture_gallery9.jpg" data-fancybox-group="gallery" title=""><img src="images/picture_gallery9.jpg" /></a></li>
                    	</ul>
                    </div>
                </div><!-- right_content -->
            </div>
        </div>
    </div>
<!-- end main_wrapper Section -->
</div><!-- end main_container -->


<!-- _________________________footer Section_________________________ -->
<div class="footer_main">
    <div class="footer">
    	<ul>
        	<h3>Quick Links</h3>
 			<li><a href="#">+ Programs for Children</a></li>
 			<li><a href="#">+ Programs for Adults</a></li>
 			<li><a href="#">+ Tournaments</a></li>
        </ul>
        <ul>
        	<h3>Quick Links</h3>
 			<li><a href="#">+ Summer Camps</a></li>
 			<li><a href="#">+ About Us</a></li>
        </ul>
        <ul>
        	<h3>Contact Us Now</h3>
 			<li>Phone No: +510-573-2497</li>
			<li>Email Id: info@bayareadebateclub.com</li>
        </ul>
    </div>
    <div class="copyright">
    	<div class="copyright_inner">
            <div id="copy_rgt">Copyright © 2014 Bay Area Debate Club.  All rights reserved.</div>
            <div id="design_by">Design & Developed By: Shah Deep International</div>
        </div>
    </div>
</div>
<!-- end footer Section -->
<link href="css/jquery.fancybox.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/jquery.fancybox.pack.js"></script>
<script type="text/javascript">
	$(document).ready(function() {
		$('.fancybox').fancybox();
	});
</script>
</body>
</html>
